.root {
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.root[data-shadow='true'] { box-shadow: var(--shadow); }

/* ========================
   SECTIONS
   ======================== */

.header {
  padding: var(--spacing-md) var(--spacing-lg);

  font-weight: 500;
  font-size: var(--font-size-md);
  color: var(--color-on-surface);
}

.body {
  padding: var(--spacing-lg);
  color: var(--color-on-surface);
}

.footer {
  padding: var(--spacing-md) var(--spacing-lg);

  background: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}
